from tkinter import *

master = Tk()

canvas = Canvas (master, height=600 , width=1000)
canvas.pack()

frame_ustsol = Frame(master, bg='#add8e6')
frame_ustsol.place(relx=0.02, rely=0.0 ,relwidth=0.15, relheight=0.15)

frame_ustsag = Frame(master, bg='#add8e6')
frame_ustsag.place(relx=0.2, rely=0.0 ,relwidth=0.75, relheight=0.15)

frame_altsol = Frame(master, bg='#add8e6')
frame_altsol.place(relx=0.02, rely=0.2 ,relwidth=0.3, relheight=0.75)

frame_altsag = Frame(master, bg='#add8e6')
frame_altsag.place(relx=0.35, rely=0.2 ,relwidth=0.6, relheight=0.75)

kart_tipi_etiket= Label(frame_ustsag, bg='#add8e6', text="Kart stok no", font="Verdana 12 bold")
kart_tipi_etiket.pack(padx=10, pady=10, side=LEFT)
kart_tipi_opsiyon=StringVar(frame_ustsag)
kart_tipi_opsiyon.set("\t")
kart_tipi_acilir_menu= OptionMenu(
frame_ustsag,
    kart_tipi_opsiyon,
    "AA",
    "DE",
    "ZZ")
kart_tipi_acilir_menu.pack(padx=10, pady=10, side=LEFT)

kart_hata_konum_etiket= Label(frame_ustsag, bg='#add8e6', text="Kart hatalı konum", font="Verdana 12 bold")
kart_hata_konum_etiket.pack(padx=10, pady=10, side=LEFT)
kart_hata_konum_opsiyon=StringVar(frame_ustsag)
kart_hata_konum_opsiyon.set("\t")
kart_hata_konum_acilir_menu= OptionMenu(
frame_ustsag,
    kart_hata_konum_opsiyon,
    "td1",
    "td2",
    "td3")

kart_hata_konum_acilir_menu.pack(padx=10, pady=10, side=LEFT)

#değişken oluşturuken
#deg = a diye olabilir

Label(frame_altsol, text="MENÜ", bg='#add8e6', font="Verdana 10 bold").pack(padx=10, pady=10, anchor=NW)

var = IntVar()
R1 = Radiobutton(frame_altsol, text="KAYDET", variable= var, value=1, bg='#add8e6', font="Verdana 10" )
R1.pack(anchor=NW, pady=5, padx=15)

var1 = IntVar()
C1= Checkbutton(frame_altsol, text='aaaa', variable=var1, onvalue= 1, offvalue=0, bg='#add8e6', font="Verdana 10" )
C1.pack(anchor=NW, pady=5, padx=25)

master.mainloop()

#--------------------------------------------------------------------------------------------------------------------------------
